---
import Icon from 'astro-icon'
import './componentStyles.css'
---

<div class="link-icons fade-in-bottom">
  <a href='/'><Icon name='mdi:instagram' fill="currentColor" /></a>
  <a href='/'><Icon name='mdi:linkedin' /></a>
  <a href='/'><Icon name='mdi:github' /></a>
</div>