---
import Layout from '../layouts/Layout.astro'
import Navbar from '../components/Navbar.jsx'
---

<Layout title="about">
    <Navbar title='bio.'/>
    <h1>About</h1>
    <p>Hi, I'm a web developer.</p>
</Layout>
