---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.jsx';
import Menu_Cards from '../components/Menu_Cards.jsx';

---

<Layout title="Justin Manuel | Web Developer">
	<section class="h-full w-full px-12 py-8">
		<Title />	
		<Menu_Cards />
	</section>
</Layout>

